@page
@model RazzorPagesExample.Pages.Products.DownloadModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download</title>
</head>
<body>
</body>
</html>
